<a href="https://colab.research.google.com/github/theresa042612/API/blob/main/Theresa_E2E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Setting up VM configgurations

1. Set up a Virtual Machine on Microsoft Azure called production Use default parameter; set the authetication type as password and entered a password satisfying the criteria

2. Repeat setting up A Virtual Machine on Microsoft Azure with new VM called replica (optional)

3. After setting up the VM, go the networking settings and add an inbound port rule. Change service to MySQL and add name MySQL_Port3306

Installing mySQL on the instance:

4. a. For production server- Open terminal and ssh [INSERTUSERNAME] @[INSERT IP ADDRESS HERE]

b. Select Yes to Are you sure you want to continue connecting? Enter Password

5. Enter command sudo apt-get update

6. a. Once updates are completed, install mySQL by entering 'sudo apt-get install my sql-client my sql-server '(into each terminal)

b. Select yes to continue

c. run command sudo mysql

Creating a mySQL user that can access all databases on that mySQL installation

7.

a. In the terminal, enter: show databases

b. Run command CREATE USER 'dba'@'%' IDENTIFIED BY 'ahi2021';

c. Run command GRANT ALL PRIVILEGES ON . TO 'dba'@'%' WITH GRANT OPTION; THEN CONFIRM: show grants for dba;

d. To confirm this worked, login in with the command mysql -u dba -p

Creating a database called e2e

8.

a. Run command: Create database e2e ;

b. Run command: Show databases ;

Write a python or R script that connects to your SQL instance, and in that script create a new table called ‘h1n1’, that lives within the ‘e2e’ database - with the following data: https://www.kaggle.com/arashnic/flu-data

Step 9: Run code below in a jupyter notebook

In [ ]:
import pandas as pd 
import sqlalchemy
from sqlalchemy import create_engine

In [ ]:
!pip install pymysql

In [ ]:
!pip install cryptography

In [ ]:
pip install cryptography

In [ ]:
MYSQL_HOSTNAME = 'IP Address'
MYSQL_USER = 'Username'
MYSQL_PASSWORD = 'password'
MYSQL_DATABASE = 'e2e'

In [ ]:
connection_string = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOSTNAME}:3306/{MYSQL_DATABASE}'
engine = create_engine(connection_string)

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/theresa042612/HHA504_E2E_FinalAssignment/main/H1N1_Flu_Vaccines.csv')

In [ ]:
TABLENAME = 'H1N1'

In [ ]:
print(engine.table_names)

In [ ]:
df.to_sql(TABLENAME, con=engine)

Fixing Connection

10.

A. SSH into the remote machine

B. Run command: sudo nano /etc/mysql/mysql.conf.d/mysqld.cnf

C. Change bind address to 0.0.0.0

D. Control + o enter to save, control + x to exit

11.

A. Run command: /etc/init.d/mysql restart

B. Rerun code from step 9!

Create a dump (.sql) file that contains a physical backup of the file

A. SSH into the production server on your terminal, run the command: sudo mysqldump -- e2e>e2e_dump.sql

Check this worked with ls
B. SSH into the replica server, run the command: scp dump.sql replica@[INSERT_IP_ADDRESS]:/home/replica

Create a trigger that pushes an error message to the user when a new row is inserted that has h1n1_concern greater than a value of 3. The trigger should be called h1n1_concern_trigger and should have the following error message: “H1N1 concern should be a numerical value between 0 and 3.

In [ ]:
show databases; 
use e2e;
select * from H1N1 limit 20;
delimiter $$
CREATE TRIGGER H1N1_concern_trigger BEFORE INSERT ON H1N1
FOR EACH ROW
BEGIN
IF NEW.h1n1_concern > 3 THEN
SIGNAL SQLSTATE '45000'
SET MESSAGE_TEXT ='ERROR: H1N1 CONCERN SHOULD BE A NUMERICAL VALUE BETWEEN O AND 3. PLEASE TRY AGAIN.'
;END IF;
END; $$
INSERT INTO H1N1 (h1n1_concern) VALUES (80);